<h1 matDialogTitle>{{data.title}}</h1>
<form name="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select name="Cargo" placeholder="Cargo" [formControl]="itemForm.controls['IdCargo']">
          <mat-option *ngFor="let cargo of Cargos" [value]="cargo.ID" ngDefaultControl>
            {{cargo.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select name="Departamento" placeholder="Departamento" (selectionChange)="loadArea()" [(ngModel)]="selDepartamento">
          <mat-option *ngFor="let departamento of Departamentos" [value]="departamento.ID" ngDefaultControl>
            {{departamento.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1" *ngIf="this.Areas.length > 0" >
      <mat-form-field class="full-width">
        <mat-select name="Area" placeholder="Área" [formControl]="itemForm.controls['IdArea']">
          <mat-option *ngFor="let area of Areas" [value]="area.ID" ngDefaultControl>
            {{area.Descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['FechaInicio']" name="FechaInicio" placeholder="Fecha Inicio"
          [matDatepicker]="appDatepicker">
        <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #appDatepicker ></mat-datepicker>
    </div>


    <div fxFlex="50" class="pt-1 pr-1">
      <mat-slide-toggle [formControl]="itemForm.controls['Estado']">Estado</mat-slide-toggle>
    </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </div>
</form>