

<mat-card class="p-0">
  <mat-card-content class="p-0">
   
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="paginate"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="10"
      [rowHeight]="'auto'"
    >
      <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Etiqueta"
          let-row="row"
        >
          {{ row?.Etiqueta }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Orden de Pedido" [flexGrow]="1">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          {{ row?.OrdenPedido }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Cantidad" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          {{ row?.Cantidad }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Precio Referencia" [flexGrow]="0.25">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          {{ row?.PrecioRef | currency }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Total" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          {{ row?.Saldo | currency }}
        </ng-template>
      </ngx-datatable-column>

      

    </ngx-datatable>
  </mat-card-content>
</mat-card>

<div class="m-333">
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    [routerLink]="['/modulos/compras/cotizacion/lista']"
  >
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
</div>
