<mat-card class="pb-0 pt-0">
  <mat-card-content >
    <div class="m-333" style="display: flex; justify-content: space-between; align-items: center;">
      <div class="select-group">
        <mat-form-field class="full-width">
          <mat-select placeholder=" Seleccione Usuario:" [(ngModel)]="selUsuario" (selectionChange)="loadTMovimiento()">
            <mat-option *ngFor="let usuario of usuarios | async" [value]="usuario.id" ngDefaultControl>{{ usuario.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button class="mr-1" color="warn" (click)="cancel()" >Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!selUsuario" (click)="save()" >Guardar</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="p-0" >
  <mat-card-content class="p-0" >
    <ngx-datatable #MyDatatableComponent class="material ml-0 mr-0"
                   [rows]="bodegas"
                   [columnMode]="'flex'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [rowIdentity]="getID"
                   [selected]="selectedBodegas"
                   [selectionType]="'checkbox'"
                   [selectAllRowsOnPage]="false">

      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column name="Descripción" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Descripcion }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Ciudad" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Ciudad }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Dirección" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Direccion }}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </mat-card-content>
</mat-card>
