<mat-card class="p-0">
  <div class="m-333" style="display: flex; justify-content: space-between;">
    <div class="select-group">
      <mat-form-field class="full-width">
        <mat-select
          placeholder="Seleccione Proveedor"
          [(ngModel)]="selProveedor"
          (selectionChange)="loadApp()"
        >
          <mat-option *ngFor="let row of Proveedores" [value]="row.ID">
            {{ row.Etiqueta }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="m-333">
      <button
        mat-raised-button
        class="mb-05"
        color="primary"
        (click)="UploadFile()"
      >
        Adjuntar Cotización
      </button>
    </div>
    
  </div>
  <div class="m-333" *ngIf="selProveedor">
    <!-- <button
      mat-icon-button
      mat-sm-button
      color="primary"
      class="mr-1"
      (click)="agregar()"
      matTooltip="Agregar"
    >
      <mat-icon>add</mat-icon>
    </button> 
    <button
      mat-icon-button
      mat-sm-button
      color="warn"
      class="mr-1"
      (click)="eliminar()"
      matTooltip="Eliminar"
    >
      <mat-icon>delete</mat-icon>
    </button>-->
    <button
      mat-icon-button
      mat-sm-button
      color="warn"
      class="mr-1"
      (click)="save()"
      matTooltip="Guardar"
     
    >
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <mat-card-content class="p-0">
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="paginate"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="10"
      [rowHeight]="'auto'"
    >
    <!-- <ngx-datatable-column
        [width]="50"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [flexGrow]="1"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Seleccionar"
          let-row="row"
        >
          <mat-checkbox
            #checkboxMultiple
            (change)="updateValueCheck($event, 'Seleccionar', rowIndex)"
          ></mat-checkbox>
        </ng-template>
      </ngx-datatable-column> -->
    <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="Etiqueta"
        let-row="row"
      >
        <input
          #textboxMultiple
          autofocus
          matInput
          (change)="updateValue($event, 'Etiqueta', rowIndex)"
          type="text"
          [value]="row?.Etiqueta"
        />
      </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column name="Cantidad Deseada" [flexGrow]="0.12">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="CantidadDeseada"
        let-row="row"
      >
        {{ row?.CantidadDeseada }}
      </ng-template>
    </ngx-datatable-column> 

    <!-- <ngx-datatable-column name="Cantidad Deseada" [flexGrow]="0.12">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="CantidadDeseada"
        let-row="row"
      >
        <input
          #cantidadMultiple
          style="text-align: right;"
          autofocus
          matInput
          (change)="updateValue($event, 'CantidadDeseada', rowIndex)"
          type="text"
          [value]="row?.CantidadDeseada"

        />
      </ng-template>
    </ngx-datatable-column> -->

      <ngx-datatable-column name="Cantidad" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          <input
            #cantidadMultiple
            style="text-align: right;"
            autofocus
            matInput
            (change)="updateValue($event, 'Cantidad', rowIndex)"
            type="text"
            [value]="row?.Cantidad"

          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Precio" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Precio"
          let-row="row"
        >
          <input
            style="text-align: right;"
            autofocus
            matInput
            (change)="updateValue($event, 'Precio', rowIndex)"
            type="text"

            [value]="row?.Precio | currency"
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Total" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Total"
          let-row="row"
        >
          {{ row?.Cantidad * row?.Precio | currency }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>

<div class="m-333">
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    [routerLink]="['/modulos/compras/cotizacion/lista']"
  >
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
</div>
