<mat-card class="p-0">
  <mat-card-content class="p-0">
    <mat-card-title class="mat-bg-primary m-0">
      <div class="card-title-text">
        <span
          >Total estimado a pagar de la Orden Pedida:
          {{ Total | currency: "USD":"symbol":".2-4" }}</span
        >
      </div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="paginate.data"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
    >
      <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Etiqueta"
          let-row="row"
        >
          {{row?.Etiqueta}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Cantidad" [flexGrow]="0.25" >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
         <div style="text-align: right;"> {{row?.Cantidad}} </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Precio Referencia" [flexGrow]="0.25">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="PrecioRef"
          let-row="row"
          style="text-align: right;"
        >
        <div style="text-align: right;"> {{row?.PrecioRef | currency: "USD":"symbol":".2-4"}} </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Total Estimado" [flexGrow]="0.25">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="PrecioRef"
          let-row="row"
          style="text-align: right;"
        >
        <div style="text-align: right;"> {{row?.PrecioRef * row?.Cantidad | currency: "USD":"symbol":".2-4"}} </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </mat-card-content>
</mat-card>



<div class="m-333" *ngIf="Bandera">
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    [routerLink]="['/modulos/compras/listaopedido/autorizar']"
  >
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
</div>



<div class="m-333" *ngIf="!Bandera">
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    [routerLink]="['/modulos/compras/listaopedido/borrador']"
  >
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
</div>

