<h1 matDialogTitle>{{data.title}}</h1>
<form name="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Descripcion" [formControl]="itemForm.controls['Descripcion']" placeholder="Descripcion">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Direccion" [formControl]="itemForm.controls['Direccion']" placeholder="Dirección">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Latitud" [formControl]="itemForm.controls['Latitud']" placeholder="Latitud">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Longitud" [formControl]="itemForm.controls['Longitud']" placeholder="Longitud">
      </mat-form-field>
    </div>


    <div fxFlex="50" class="pr-1" >
      <mat-form-field class="full-width">
        <mat-select placeholder="Seleccione Ciudad" [formControl]="itemForm.controls['IDCiudad']" >
          <mat-option *ngFor="let row of ciudads | async " [value]="row.ID" >
            {{ row?.Descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div fxFlex="50" class="pr-1" >
      <mat-form-field class="full-width">
        <mat-select placeholder="Seleccione Estado" [formControl]="itemForm.controls['Estado']" >
          <mat-option *ngFor="let row of estados " [value]="row.Abr" >
            {{ row?.Etiqueta }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--<div fxFlex="50" class="pt-1 pr-1">-->
      <!--<mat-slide-toggle [formControl]="itemForm.controls['Estado']">Estado</mat-slide-toggle>-->
    <!--</div>-->

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </div>
</form>
