<mat-card class="p-0">
  <mat-card-content class="mt-1">
    <h1 matDialogTitle>Crear Nueva Orden Compra</h1>
    <form [formGroup]="itemForm" (ngSubmit)="submitTransaccion()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="Referencia"
              placeholder="Referencia"
              value="Borrador"
              [formControl]="itemForm.controls['Estado']"
            />
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Proveedor:"
              [formControl]="itemForm.controls['IDProveedor']"
            >
              <mat-option
                *ngFor="let proveedor of Proveedores"
                [value]="proveedor.ID"
                ngDefaultControl
                >{{ proveedor.RazonSocial }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Condiciones de Pago:"
              [formControl]="itemForm.controls['IDCondicionPago']"
            >
              <mat-option
                *ngFor="let cpago of CondicionesPago"
                [value]="cpago.ID"
                ngDefaultControl
                >{{ cpago.Etiqueta }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Forma de Pago:"
              [formControl]="itemForm.controls['IDModoPago']"
            >
              <mat-option
                *ngFor="let fpago of FormasPago"
                [value]="fpago.ID"
                ngDefaultControl
                >{{ fpago.Etiqueta }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              [formControl]="itemForm.controls['FechaEntrega']"
              name="FechaFin"
              placeholder="Fecha prevista de entrega"
              [matDatepicker]="appDatepicker2"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="appDatepicker2"
            ></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #appDatepicker2></mat-datepicker>
        </div>

        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="Observacion"
              placeholder="Observación"
              [formControl]="itemForm.controls['Observacion']"
            />
          </mat-form-field>
        </div>

        <div
          fxFlex="100"
          class="pr-1"
          style="display: flex; justify-content: space-between;"
        >
          <button
            mat-raised-button
            class="mb-05"
            color="primary"
            [disabled]="itemForm.invalid || Creado"
          >
            Crear
          </button>

          <a
            mat-raised-button
            class="mb-05"
            color="primary"
            [routerLink]="['/modulos/compras/ordencompra/lista']"
          >
            Cancelar
          </a>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="p-0" *ngIf="Creado">
  <div class="m-333">
      <button
      mat-raised-button
      class="mb-05"
      color="primary"
      (click)="save()"
      [disabled]="selectedItems.length == 0"
    >
      Guardar
    </button>
  </div>
  <div class="m-333" style="display: flex; justify-content: space-between;">
    <div class="select-group">
      <mat-form-field class="full-width">
        <mat-select
          placeholder=" Seleccione número de ítems:"
          [(ngModel)]="selPageSize"
          (selectionChange)="loadApp()"
        >
          <mat-option
            *ngFor="let page of pageSize"
            [value]="page"
            ngDefaultControl
            >{{ page }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content class="p-0">
    <h1 matDialogTitle style="text-align: center;">
      Seleccione Items a Comprar
    </h1>
    <ngx-datatable
      #MyDatatableComponent
      class="material ml-0 mr-0"
      [rows]="paginate"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rowIdentity]="getID"
      [selected]="selectedItems"
      [selectionType]="'checkbox'"
      [selectAllRowsOnPage]="true"
      [limit]="10"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>

      <ngx-datatable-column name="Producto" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Descripcion }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Cotizacion" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Cotizacion }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Orden de Pedido" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.OrdenPedido }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Cantidad" [flexGrow]="0.25">
        <!-- <ng-template let-row="row" ngx-datatable-cell-template>
            <div style="text-align: right;">{{ row?.Cantidad }}</div>
          </ng-template> -->
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          <input
            #cantidadMultiple
            style="text-align: right;"
            autofocus
            matInput
            (change)="updateValue($event, 'Cantidad', rowIndex)"
            type="text"
            [value]="row?.Cantidad"
        
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Precio" [flexGrow]="0.25">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div style="text-align: right;">
            {{ row?.Precio | currency: "USD":"symbol":".2-4" }}
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
