<h1 matDialogTitle>Cotización</h1>
<form [formGroup]="mailForm" novalidate (submit)="sendEmail()">
  <div class="pb-1">
    <mat-form-field class="full-width">
      <input
        matInput
        name="subject"
        formControlName="subject"
        placeholder="Asunto"
      />
    </mat-form-field>
    <small
      *ngIf="
        mailForm.controls.subject.errors &&
        (mailForm.controls.subject.dirty ||
          mailForm.controls.subject.touched) &&
        mailForm.controls.subject.errors.required
      "
      class="form-error-msg"
    >
      Asunto es requerido
    </small>
  </div>
  <div class="pb-1">
    <quill-editor theme="snow" formControlName="message"></quill-editor>
    <small
      *ngIf="
        mailForm.controls.message.errors &&
        (mailForm.controls.message.dirty ||
          mailForm.controls.message.touched) &&
        mailForm.controls.message.errors.required
      "
      class="form-error-msg"
    >
      Mensaje es requerido
    </small>
  </div>
  <div class="pb-1">
    <h1 matDialogTitle>Seleccione Proveedores a Enviar Cotización</h1>
    <mat-form-field class="margin-333" style="width: 100%">
      <input
        matInput
        placeholder="Escriba para filtrar por proveedor"
        (keyup)="updateFilter($event)"
      />
    </mat-form-field>
    <mat-card class="p-0">
      <mat-card-content class="p-0">
        <ngx-datatable
          #MyDatatableComponent
          class="material ml-0 mr-0"
          [rows]="Proveedores"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rowIdentity]="getID"
          [selected]="selectedProveedores"
          [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="false"
          [limit]="10"
        >
          <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
          >
          </ngx-datatable-column>

          <ngx-datatable-column name="Descripción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Etiqueta }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Email" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Email }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="">
    <button type="button" mat-button matDialogClose>Cancelar</button>
    <span fxFlex></span>

    <button mat-mini-fab class="mat-primary" type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
