/* You can add global styles to this file, and also import other style files */
.price {
  display: inline-block;
}

.price::first-letter {
  padding-right: 0.3em;
}

.select-group {
  outline: #0d4b73 solid 2px;
}
