<div class="m-333">
    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="agregar()" matTooltip="Agregar">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="deleteItem(row)">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<mat-card class="p-0">
    <mat-card-content class="p-0">
        <ngx-datatable class="material ml-0 mr-0" [rows]="Pedidos" [columnMode]="'flex'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

            <ngx-datatable-column name="Cantidad" [flexGrow]="1">

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="Cantidad" let-row="row">
                    <input matInput (change)="updateValue($event, 'Cantidad', rowIndex)" type="text" mask='0*.0000'
                        [value]="row?.Cantidad" />
                </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-column name="Descripción" [flexGrow]="1">

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="Descripcion" let-row="row">
                    <input matInput (change)="updateValue($event, 'Descripcion', rowIndex)" type="text" [value]="row?.Descripcion" />
                </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-column name="Precio Referencia" [flexGrow]="1">

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="Referencia" let-row="row">
                    <input matInput (change)="updateValue($event, 'Referencia', rowIndex)" type="text" mask='0*.0000'
                        [value]="row?.Referencia | currency" />
                </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template>
                    <div style="padding: 5px 10px">
                        <div>
                            <strong>Total </strong>: {{ Total | currency }}
                        </div>
                        <hr style="width:100%" />
                    </div>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </mat-card-content>
</mat-card>