<mat-card class="p-0">
  <mat-card-content class="mt-1">
    <h1 matDialogTitle>Crear Nueva Orden de Pedido</h1>
    <form [formGroup]="itemForm" (ngSubmit)="submitTransaccion()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="Referencia"
              placeholder="Referencia"
              value="Borrador"
              [formControl]="itemForm.controls['Estado']"
            />
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              [formControl]="itemForm.controls['FechaRegistro']"
              name="Fecha"
              placeholder="Fecha"
              [matDatepicker]="appDatepicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="appDatepicker"
            ></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #appDatepicker></mat-datepicker>
        </div>

        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="Nota"
              placeholder="Nota"
              [formControl]="itemForm.controls['Observacion']"
            />
          </mat-form-field>
        </div>
        <div
          fxFlex="100"
          class="pr-1"
          style="display: flex; justify-content: space-between;"
        >
          <button
            mat-raised-button
            class="mb-05"
            color="primary"
            [disabled]="itemForm.invalid || Creado"
          >
            Crear
          </button>

          <a
            mat-raised-button
            class="mb-05"
            color="primary"
            (click)="cancelar()"
          >
            Cancelar
          </a>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="p-0" *ngIf="Creado">
  <div class="m-333">
    <button
      mat-icon-button
      mat-sm-button
      color="primary"
      class="mr-1"
      (click)="agregar()"
      matTooltip="Agregar"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-sm-button
      color="warn"
      class="mr-1"
      (click)="eliminar()"
      matTooltip="Eliminar"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-sm-button
      color="warn"
      class="mr-1"
      (click)="openPopUp({}, true)"
      matTooltip="Buscar Producto"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-sm-button
      color="warn"
      class="mr-1"
      (click)="save()"
      matTooltip="Guardar"
      *ngIf="Pedidos.length > 0"
    >
      <mat-icon>save</mat-icon>
    </button>
    <mat-checkbox *ngIf="Pedidos.length > 0" [(ngModel)]="checked"
      >Enviar para Autorización</mat-checkbox
    >
  </div>
  <mat-card-content class="p-0">
    <mat-card-title class="mat-bg-primary m-0">
      <div class="card-title-text">
        <span
          >Total estimado a pagar de la Orden Pedida:
          {{ Total | currency }}</span
        >
      </div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="Pedidos"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
    >
      <ngx-datatable-column
        [width]="50"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [flexGrow]="1"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Seleccionar"
          let-row="row"
        >
          <mat-checkbox
            #checkboxMultiple
            (change)="updateValueCheck($event, 'Seleccionar', rowIndex)"
          ></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Etiqueta"
          let-row="row"
        >
          <!--
            <input
              autofocus
              matInput
              (change)="updateValue($event, 'Etiqueta', rowIndex)"
              type="text"
              [value]="row?.Etiqueta"
            />
          -->
          <mat-form-field style="width: 100%;">
            <input
              autofocus
              matInput
              (change)="updateValue($event, 'Etiqueta', rowIndex)"
              type="text"
              [value]="row?.Etiqueta"
              [matAutocomplete]="auto"
              [formControl]="itemCtrl"
            />

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let seleccionado of (item | async)"
                [value]="seleccionado"
              >
                {{ seleccionado.Descripcion }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Cantidad" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="Cantidad"
          let-row="row"
        >
          <input
            autofocus
            matInput
            (change)="updateValue($event, 'Cantidad', rowIndex)"
            type="text"
            mask="0*.0000"
            [value]="row?.Cantidad"
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Precio Referencia" [flexGrow]="0.12">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="PrecioRef"
          let-row="row"
        >
          <input
            style="text-align: right;"
            autofocus
            matInput
            (change)="updateValue($event, 'PrecioRef', rowIndex)"
            type="text"
            mask="0*.0000"
            [value]="row?.PrecioRef | currency"
          />
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
